/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

html {
    background-color: white;
}

body {
    background-color: #DCF0FF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #85C1F0;
}

li {
    float: left;
}

a {
    color: black;
    text-decoration: none;
    text-transform: capitalize;
    text-indent: 50px;
    padding: 10px;
}

li a {
    float: inherit;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
  background-color: black;
}

img {
    max-width: 1000px;


}
.outer-wrap-header {
    display: block;

}
.wrap-all {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #DCF0FF;

}

.site-logo {
    display: none;

}


.footer-column {
    width: 30%;
    float: left;
    padding: 10px;
}

.outer-wrap-footer {
    padding: 5px;
    max-width: 1000px;
}
